### 추천 시스템의 유형

In [ ]:
# 콘텐츠 기반 필터링(Content based Filtering) 방식 / 협업 필터링(Collaborative Filtering) 방식으로 나뉨.
# 협업 필터링 방식은 다시 최근접 이웃(Nearest Neighbor) 협업 필터링과 잠재 요인(Latent Factor) 협업 필터링으로 나뉨.

### 최근접 이웃 협업 필터링 : 사용자가 아이템에 매긴 평점 정보나 상품 구매 이력과 같은 사용자 행동 양식만을 기반으로 추천을 수행하는 것

In [ ]:
# 주요 목표는 사용자-아이템 평점 매트릭스와 같은 축적된 사용자 행동 데이터를 기반으로 사용자가 아직 평가하지 않은 아이템을 예측평가
# 행은 개별 사용자, 열은 개별 아이템으로 구성
# 사용자 기반(User-User) : 당신과 비슷한 고객들이 다음 상품도 구매했습니다.
# 아이템 기반(Item-Item) : 이 상품을 선택한 다른 고객들은 다음 상품도 구매했습니다.
# 사용자 기반 - 특정 사용자와 유사한 다른 사용자를 TOP-N으로 선정해 이 TOP-N 사용자가 좋아하는 아이템 추천
# 아이템 기반 - 아이템이 가지는 속성과는 상관없이 사용자들이 그 아이템을 좋아하는지/싫어하는지의 평가 척도가 유사한 아이템을 추천하는 기준
# 일반적으로 사용자 기반보다는 아이템 기반 협업 필터링이 정확도가 더 높음
# 따라서 최근접 이웃 협업 필터링은 대부분 아이템 기반의 알고리즘을 적용 / 유사도 측정 코사인 유사도 사용

### 잠재 요인 협업 필터링 : 사용자-아이템 평점 매트릭스 속에 숨어 있는 잠재 요인을 추출해 추천 예측을 할 수 있게 하는 기법

In [4]:
# '잠재 요인'을 기반으로 다차원 희소 행렬인 사용자-아이템 행렬 데이터를 저차원 밀집 행렬의 사용자-잠재 요인 행렬과 아이템-잠재 요인 행렬의
# 전치행렬로 분해할 수 있으며, 이렇게 분해된 두 행렬의 내적을 통해 새로운 예측 사용자-아이템 평점 행렬 데이터를 만들어서 사용자가 아직 
# 평점을 부여하지 않은 아이템에 대한 예측 평점을 생성
# 사용자-아이템 평점 행렬과 같이 다차원의 매트릭스를 저차원의 매트릭스로 분해하는 기법을 행렬 분해(Matrix Factorization)라고 함.
# 행렬 분해의 이해 - 대표적으로 SVD(Singular Vector Decomposition), NMF(Non-Negative Matrix Factorization) 등이 있음
# 행렬 분해는 주로 SVD 방식을 이용. 하지만 SVD는 널(NaN) 값이 없는 행렬에만 적용가능.
# 널 값 있는 경우는 확률적 경사 하강법이나 ALS 방식을 이용해 SVD 수행

In [5]:
# 확률적 경사 하강법을 이용한 행렬 분해
# P와 Q 행렬로 계산된 예측 R 행렬 값이 실제 R 행렬 값과 가장 최소의 오류를 가질 수 있도록 반복적인 비용 함수 최적화를 통해 P와 Q 유추함
import numpy as np

# 원본 행렬 R 생성, 분해 행렬 P와 Q 초기화, 잠재 요인 차원 K는 3으로 설정
R = np.array([[4, np.NaN, np.NaN, 2, np.NaN],
             [np.NaN, 5, np.NaN, 3, 1],
             [np.NaN, np.NaN, 3, 4, 4],
             [5, 2, 1, 2, np.NaN]])
num_users, num_items = R.shape
K = 3

# P와 Q 행렬의 크기를 지정하고 정규 분포를 가진 임의의 값으로 입력합니다.
np.random.seed(1)
P = np.random.normal(scale=1./K, size=(num_users, K))
Q = np.random.normal(scale=1./K, size=(num_items, K))

In [6]:
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
    error = 0
    # 두 개의 분해된 행렬 P와 Q.T의 내적으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P, Q.T)
    
    # 실제 R 행렬에서 널이 아닌 값의 위치 인덱스 추출해 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    
    return rmse

In [9]:
# SGD 기반으로 행렬 분해 수행. R에서 널 값을 제외한 데이터의 행렬 인덱스 추출. 
# R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트에 저장
non_zeros = [(i, j, R[i, j]) for i in range(num_users) for j in range(num_items) if R[i, j] > 0]

steps = 1000
learning_rate=0.01
r_lambda=0.01

# SGD 기법으로 P와 Q 매트릭스를 계속 업데이트
for step in range(steps):
    for i, j, r in non_zeros:
        # 실제 값과 예측 값의 차이인 오류 값 구함
        eij = r - np.dot(P[i, :], Q[j, :].T)
        # Regularization을 반영한 SGD 업데이트 공식 적용
        P[i, :] = P[i, :] + learning_rate * (eij * Q[j, :] - r_lambda * P[i, :])
        Q[j, :] = Q[j, :] + learning_rate * (eij * P[i, :] - r_lambda * Q[j, :])
        
        rmse = get_rmse(R, P, Q, non_zeros)
        if (step % 50) == 0:
            print('### iteration step :', step, 'rmse :', rmse)

### iteration step : 0 rmse : 3.2607637196617447
### iteration step : 0 rmse : 3.25984492535184
### iteration step : 0 rmse : 3.253427906355483
### iteration step : 0 rmse : 3.251619869649888
### iteration step : 0 rmse : 3.251796831191755
### iteration step : 0 rmse : 3.250533898722442
### iteration step : 0 rmse : 3.2487065151998693
### iteration step : 0 rmse : 3.246877759098021
### iteration step : 0 rmse : 3.2414508864135136
### iteration step : 0 rmse : 3.239570440026311
### iteration step : 0 rmse : 3.239692099064722
### iteration step : 0 rmse : 3.2383419895656886
### iteration step : 50 rmse : 0.5040068730419198
### iteration step : 50 rmse : 0.5038925395193957
### iteration step : 50 rmse : 0.5027477555896671
### iteration step : 50 rmse : 0.5026062743638522
### iteration step : 50 rmse : 0.5027088861624873
### iteration step : 50 rmse : 0.5020923533161268
### iteration step : 50 rmse : 0.5021846352322904
### iteration step : 50 rmse : 0.5016947623139583
### iteration step : 50 rmse : 0.4935972963728694
### iteration step : 50 rmse : 0.4926017158241699
### iteration step : 50 rmse : 0.4922603472177798
### iteration step : 50 rmse : 0.4912467429678607
### iteration step : 100 rmse : 0.15888712156073986
### iteration step : 100 rmse : 0.15857947656259547
### iteration step : 100 rmse : 0.15851438496022222
### iteration step : 100 rmse : 0.15805816584846874
### iteration step : 100 rmse : 0.15808000148246548
### iteration step : 100 rmse : 0.15805956606870125
### iteration step : 100 rmse : 0.1576402515827568
### iteration step : 100 rmse : 0.15768639012888647
### iteration step : 100 rmse : 0.1570169001809301
### iteration step : 100 rmse : 0.1568781974003639
### iteration step : 100 rmse : 0.15667114533111545
### iteration step : 100 rmse : 0.15619264532486424
### iteration step : 150 rmse : 0.07489495682195016
### iteration step : 150 rmse : 0.07488055734694112
### iteration step : 150 rmse : 0.07486839238926812
### iteration step : 150 rmse : 0.0745850029658163
### iteration step : 150 rmse : 0.0746253220029403
### iteration step : 150 rmse : 0.07466592186093246
### iteration step : 150 rmse : 0.07432601767732186
### iteration step : 150 rmse : 0.07436724678200281
### iteration step : 150 rmse : 0.07406124159839783
### iteration step : 150 rmse : 0.07407788630958566
### iteration step : 150 rmse : 0.07407932009790316
### iteration step : 150 rmse : 0.07398530522568895
### iteration step : 200 rmse : 0.043066472471668546
### iteration step : 200 rmse : 0.043166012067283856
### iteration step : 200 rmse : 0.04314799000170346
### iteration step : 200 rmse : 0.042934531982172904
### iteration step : 200 rmse : 0.04299027317696408
### iteration step : 200 rmse : 0.04305185270363845
### iteration step : 200 rmse : 0.04275291726192346
### iteration step : 200 rmse : 0.042777236751744795
### iteration step : 200 rmse : 0.04256212951865794
### iteration step : 200 rmse : 0.042592511696278375
### iteration step : 200 rmse : 0.042595013464648245
### iteration step : 200 rmse : 0.04271082345502761
### iteration step : 250 rmse : 0.028959014368927737
### iteration step : 250 rmse : 0.029108560426098006
### iteration step : 250 rmse : 0.029065857689146733
### iteration step : 250 rmse : 0.028895694995441635
### iteration step : 250 rmse : 0.028968569978159726
### iteration step : 250 rmse : 0.029033956246467735
### iteration step : 250 rmse : 0.028753852233457215
### iteration step : 250 rmse : 0.028763302338649686
### iteration step : 250 rmse : 0.02856043485751055
### iteration step : 250 rmse : 0.028608706348630192
### iteration step : 250 rmse : 0.02861480879144438
### iteration step : 250 rmse : 0.028814737232680715
### iteration step : 300 rmse : 0.022356382121378297
### iteration step : 300 rmse : 0.022522766948672807
### iteration step : 300 rmse : 0.022450304983130238
### iteration step : 300 rmse : 0.022311331043425423
### iteration step : 300 rmse : 0.022399644890923786
### iteration step : 300 rmse : 0.02245842748478616
### iteration step : 300 rmse : 0.022194479772633953
### iteration step : 300 rmse : 0.022193562230537776
### iteration step : 300 rmse : 0.021972278121980156
### iteration step : 300 rmse : 0.022044993008156474
### iteration step : 300 rmse : 0.02207131316888231
### iteration step : 300 rmse : 0.022300628705078936
### iteration step : 350 rmse : 0.019284295847882812
### iteration step : 350 rmse : 0.019448505426236197
### iteration step : 350 rmse : 0.01935128005929931
### iteration step : 350 rmse : 0.019234942921575095
### iteration step : 350 rmse : 0.019334074749847666
### iteration step : 350 rmse : 0.01938203113457072
### iteration step : 350 rmse : 0.01913597976115299
### iteration step : 350 rmse : 0.01912833430770881
### iteration step : 350 rmse : 0.01888229002679924
### iteration step : 350 rmse : 0.0189764880466068
### iteration step : 350 rmse : 0.019023820630239708
### iteration step : 350 rmse : 0.019261842805496004
### iteration step : 400 rmse : 0.017863404043095048
### iteration step : 400 rmse : 0.018017201871079132
### iteration step : 400 rmse : 0.017903324825512972
### iteration step : 400 rmse : 0.01780221162899672
### iteration step : 400 rmse : 0.017907702663247732
### iteration step : 400 rmse : 0.017945575301883666
### iteration step : 400 rmse : 0.017716493272197615
### iteration step : 400 rmse : 0.01770457472188004
### iteration step : 400 rmse : 0.017437695997327023
### iteration step : 400 rmse : 0.017546653237996004
### iteration step : 400 rmse : 0.017608920606616816
### iteration step : 400 rmse : 0.017849638347843245
### iteration step : 450 rmse : 0.017196831284699902
### iteration step : 450 rmse : 0.01733856768039346
### iteration step : 450 rmse : 0.017214573210116203
### iteration step : 450 rmse : 0.01712303278124816
### iteration step : 450 rmse : 0.017232015577767604
### iteration step : 450 rmse : 0.017262356718068306
### iteration step : 450 rmse : 0.017047105994084873
### iteration step : 450 rmse : 0.01703238564852075
### iteration step : 450 rmse : 0.01675020702230313
### iteration step : 450 rmse : 0.0168682232630372
### iteration step : 450 rmse : 0.01693964371734618
### iteration step : 450 rmse : 0.01718227293824364
### iteration step : 500 rmse : 0.016875564910972526
### iteration step : 500 rmse : 0.017006299008818504
### iteration step : 500 rmse : 0.016876328110524096
### iteration step : 500 rmse : 0.016790663484364306
### iteration step : 500 rmse : 0.016901582763477863
### iteration step : 500 rmse : 0.016926807100408316
### iteration step : 500 rmse : 0.016722008221199763
### iteration step : 500 rmse : 0.01670533868689901
### iteration step : 500 rmse : 0.016412255198361262
### iteration step : 500 rmse : 0.016535654371892805
### iteration step : 500 rmse : 0.016612417972772377
### iteration step : 500 rmse : 0.01685725438822045
### iteration step : 550 rmse : 0.016715266870861747
### iteration step : 550 rmse : 0.01683675454140167
### iteration step : 550 rmse : 0.01670319467732906
### iteration step : 550 rmse : 0.016621206562582057
### iteration step : 550 rmse : 0.016733258759445317
### iteration step : 550 rmse : 0.016755119480325088
### iteration step : 550 rmse : 0.016558025031896694
### iteration step : 550 rmse : 0.016539919019190143
### iteration step : 550 rmse : 0.016239005694538705
### iteration step : 550 rmse : 0.01636564439316361
### iteration step : 550 rmse : 0.01644552356347594
### iteration step : 550 rmse : 0.01669270284483481
### iteration step : 600 rmse : 0.016630930512118853
### iteration step : 600 rmse : 0.016744878298961263
### iteration step : 600 rmse : 0.016609053907611217
### iteration step : 600 rmse : 0.016529503008882895
### iteration step : 600 rmse : 0.016642272056722585
### iteration step : 600 rmse : 0.01666192187777895
### iteration step : 600 rmse : 0.016470512134681103
### iteration step : 600 rmse : 0.016451298382391646
### iteration step : 600 rmse : 0.016144660591756236
### iteration step : 600 rmse : 0.016273334427164585
### iteration step : 600 rmse : 0.016355080146941592
### iteration step : 600 rmse : 0.01660443540651047
### iteration step : 650 rmse : 0.01658198345129453
### iteration step : 650 rmse : 0.016689844840433694
### iteration step : 650 rmse : 0.01655247587411307
### iteration step : 650 rmse : 0.01647468793442619
### iteration step : 650 rmse : 0.016587955378486154
### iteration step : 650 rmse : 0.016606124240332476
### iteration step : 650 rmse : 0.01641895937332503
### iteration step : 650 rmse : 0.016398861874880464
### iteration step : 650 rmse : 0.016087956292909735
### iteration step : 650 rmse : 0.01621799875308129
### iteration step : 650 rmse : 0.016300922169216282
### iteration step : 650 rmse : 0.016552099311161292
### iteration step : 700 rmse : 0.016548531257520274
### iteration step : 700 rmse : 0.01665149002088056
### iteration step : 700 rmse : 0.01651296064523513
### iteration step : 700 rmse : 0.016436579463867167
### iteration step : 700 rmse : 0.016550229659103636
### iteration step : 700 rmse : 0.016567375827990755
### iteration step : 700 rmse : 0.016383429437330368
### iteration step : 700 rmse : 0.01636260815062328
### iteration step : 700 rmse : 0.016048462908910367
### iteration step : 700 rmse : 0.016179508922009624
### iteration step : 700 rmse : 0.016263234292894446
### iteration step : 700 rmse : 0.016515808753899533
### iteration step : 750 rmse : 0.016520736947705457
### iteration step : 750 rmse : 0.01661974304284402
### iteration step : 750 rmse : 0.01648025315260988
### iteration step : 750 rmse : 0.01640509648514273
### iteration step : 750 rmse : 0.01651906849144714
### iteration step : 750 rmse : 0.01653548185362823
### iteration step : 750 rmse : 0.01635401250551103
### iteration step : 750 rmse : 0.016332585548833406
### iteration step : 750 rmse : 0.016015942418253385
### iteration step : 750 rmse : 0.01614779439845136
### iteration step : 750 rmse : 0.016232119554751085
### iteration step : 750 rmse : 0.01648566857158222

### iteration step : 800 rmse : 0.016493830839055597
### iteration step : 800 rmse : 0.016589644147382166
### iteration step : 800 rmse : 0.01644929382055063
### iteration step : 800 rmse : 0.01637527214203308
### iteration step : 800 rmse : 0.016489534529761016
### iteration step : 800 rmse : 0.01650540178253454
### iteration step : 800 rmse : 0.016325864255722133
### iteration step : 800 rmse : 0.01630392091671057
### iteration step : 800 rmse : 0.015985326640133725
### iteration step : 800 rmse : 0.016117879351121137
### iteration step : 800 rmse : 0.016202697724910505
### iteration step : 800 rmse : 0.016456836009485713
### iteration step : 850 rmse : 0.01646564856190621
### iteration step : 850 rmse : 0.016558877647615967
### iteration step : 850 rmse : 0.01641771402053779
### iteration step : 850 rmse : 0.016344785658024476
### iteration step : 850 rmse : 0.016459322923789748
### iteration step : 850 rmse : 0.016474767396209684
### iteration step : 850 rmse : 0.016296753483453913
### iteration step : 850 rmse : 0.016274362372905637
### iteration step : 850 rmse : 0.015954227997128704
### iteration step : 850 rmse : 0.016087426480171228
### iteration step : 850 rmse : 0.016172683596246774
### iteration step : 850 rmse : 0.016427076748890507
### iteration step : 900 rmse : 0.016435368443178406
### iteration step : 900 rmse : 0.016526501965844275
### iteration step : 900 rmse : 0.016384545134927028
### iteration step : 900 rmse : 0.016312691893048025
### iteration step : 900 rmse : 0.016427496985862083
### iteration step : 900 rmse : 0.016442602689113222
### iteration step : 900 rmse : 0.01626580183159382
### iteration step : 900 rmse : 0.016243016287206744
### iteration step : 900 rmse : 0.015921656374478076
### iteration step : 900 rmse : 0.016055472417960917
### iteration step : 900 rmse : 0.016141141626539696
### iteration step : 900 rmse : 0.016395507795923255
### iteration step : 950 rmse : 0.01640284717134271
### iteration step : 950 rmse : 0.01649227862843099
### iteration step : 950 rmse : 0.01634953583935366
### iteration step : 950 rmse : 0.016278750002692587
### iteration step : 950 rmse : 0.01639382017117225
### iteration step : 950 rmse : 0.01640864632806784
### iteration step : 950 rmse : 0.01623281909266263
### iteration step : 950 rmse : 0.0162096809227511
### iteration step : 950 rmse : 0.01588733998425013
### iteration step : 950 rmse : 0.01602175901670648
### iteration step : 950 rmse : 0.016107827999575882
### iteration step : 950 rmse : 0.016361934058129333

In [10]:
pred_matrix = np.dot(P, Q.T)
print('예측 행렬:\n', np.round(pred_matrix, 3))

예측 행렬:
 [[3.991 0.867 1.315 2.002 1.677]
 [6.633 4.978 0.974 2.981 1.003]
 [6.679 0.4   2.987 3.977 3.986]
 [4.968 2.005 1.006 2.017 1.144]]

### 콘텐츠 기반 필터링 실습 - TMDB 5000 영화 데이터 세트

In [3]:
# 장르 속성을 이용한 영화 콘텐츠 기반 필터링
# 데이터 로딩 및 가공
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

movies = pd.read_csv('./tmdb_5000_movies.csv')
print(movies.shape)
movies.head(1)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
movies_df = movies[['id', 'title', 'genres', 'vote_average', 'vote_count', 'popularity', 'keywords', 'overview']]

In [5]:
# 파이썬 리스트 내부에 여러 개의 딕셔너리가 있는 형태의 문자열로 표기돼있음.
# 가공이 필요함
pd.set_option('max_colwidth', 100)
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."

In [6]:
# 파이썬 ast 모듈의 literal_eval() 함수를 이용하면 이 문자열을 문자열이 의미하는 list[dict1, dict2] 객체로 만들 수 있음.
from ast import literal_eval
movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

In [7]:
# genres 칼럼에서 장르명만 리스트 객체로 추출
movies_df['genres'] = movies_df['genres'].apply(lambda x : [y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [y['name'] for y in x])
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."

In [8]:
# 장르 콘텐츠 유사도 측정
# 문자열로 변환된 genres 칼럼을 Count 기반으로 피처 벡터화 변환 -> genres 문자열을 피처 벡터화 행렬로 변환한 데이터 세트를 코사인 유사도
# 를 통해 비교 -> 장르 유사도가 높은 영화 중에 평점이 높은 순으로 영화를 추천
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환
movies_df['genres_literal'] = movies_df['genres'].apply(lambda x : (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1, 2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

In [9]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:1])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]]

In [10]:
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_ind[:1])

[[   0 3494  813 ... 3038 3037 2401]]

In [11]:
# 0번 레코드의 경우 본인을 제외하면 3494번 레코드가 가장 유사도가 높음, 2401번 레코드가 가장 낮음

In [18]:
# 장르 콘텐츠 필터링을 이용한 영화 추천
# 장르 유사도에 따라 영화를 추천하는 함수 생성
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    
    # 인자로 입력된 movies_df DataFrame에서 'title' 칼럼이 입력된 title_name 값인 DataFrame 추출
    title_movie = df[df['title'] == title_name]
    
    # title_name을 가진 DataFrame의 index 객체를 ndarray로 반환하고
    # sorted_ind 인자로 입력된 genre_sim_sorted_ind 객체에서 유사도 순으로 top_n개의 index 추출
    title_index = title_movie.index.values
    similar_indexes = sorted_ind[title_index, :(top_n)]
    
    # 추출된 top_n index 출력, top_n index는 2차원 데이터임.
    # dataframe에서 index로 사용하기 위해서 1차원 array로 변경
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)
    
    return df.iloc[similar_indexes]

In [19]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

In [21]:
# 살짝 부족해서 영화의 평점 정보인 'vote_average' 값 이용
movies_df[['title', 'vote_average', 'vote_count']].sort_values('vote_average', ascending=False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

In [22]:
# 왜곡된 부분이 많으므로 가중 평점(Weighted Rating) 사용
# 가중 평점 = (v/(v+m)) * R + (m/(v+m)) * C
# v : 평점을 투표한 횟수 / m : 최소 투표 횟수 / R : 개별 영화에 대한 평균 평점 / C : 전체 영화에 대한 평균 평점
C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)
print('C:', round(C, 3), 'm:', round(m, 3))

C: 6.092 m: 370.2

In [23]:
# 기존 평점을 새로운 가중 평점으로 변경하는 함수 생성
percentile = 0.6
m = movies_df['vote_count'].quantile(percentile)
C = movies_df['vote_average'].mean()

def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return ((v/(v+m)) * R + (m/(v+m)) * C)

movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1)

In [24]:
movies_df[['title', 'vote_average', 'weighted_vote', 'vote_count']].sort_values('weighted_vote', ascending=False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.396052        8205
3337             The Godfather           8.4       8.263591        5893
662                 Fight Club           8.3       8.216455        9413
3232              Pulp Fiction           8.3       8.207102        8428
65             The Dark Knight           8.2       8.136930       12002
1818          Schindler's List           8.3       8.126069        4329
3865                  Whiplash           8.3       8.123248        4254
809               Forrest Gump           8.2       8.105954        7927
2294             Spirited Away           8.3       8.105867        3840
2731    The Godfather: Part II           8.3       8.079586        3338

In [27]:
# 새롭게 정의된 평점 기준에 따라서 영화를 추천
# 장르 유사성이 높은 영화를 top_n의 2배수만큼 후보군으로 선정한 뒤에 weighted_vote 칼럼 값이 높은 순으로 top_n만큼 추출
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    
    # top_n의 2배에 해당하는 장르 유사성이 높은 인덱스 추출
    similar_indexes = sorted_ind[title_index, :(top_n*2)]
    similar_indexes = similar_indexes.reshape(-1)
    # 기준 영화 인덱스 제외
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    # top_n의 2배에 해당하는 후보군에서 weighted_vote가 높은 순으로 top_n만큼 추출
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average', 'weighted_vote']]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.079586
1847                   GoodFellas           8.2       7.976937
3866                  City of God           8.1       7.759693
1663  Once Upon a Time in America           8.2       7.657811
883           Catch Me If You Can           7.7       7.557097
281             American Gangster           7.4       7.141396
4041              This Is England           7.4       6.739664
1149              American Hustle           6.8       6.717525
1243                 Mean Streets           7.2       6.626569
2839                     Rounders           6.9       6.530427

### 아이템 기반 최근접 이웃 협업 필터링 실습

In [28]:
# 데이터 가공 및 변환
import pandas as pd
import numpy as np

movies = pd.read_csv('./ml-latest-small/movies.csv')
ratings = pd.read_csv('./ml-latest-small/ratings.csv')
print(movies.shape)
print(ratings.shape)

(9742, 3)
(100836, 4)

In [29]:
# 협업 필터링은 ratings.csv 데이터 세트와 같이 사용자와 아이템 간의 평점에 기반해 추천하는 시스템
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')
ratings_matrix.head(3)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# title 칼럼을 얻기 위해 movies와 조인
rating_movies = pd.merge(ratings, movies, on='movieId')

# columns='title'로 title 칼럼으로 피벗 수행
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns='title')

# NaN 값을 모두 0으로 변환
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
# 영화 간 유사도 산출
# cosine_similarity()을 적용하려면 현재의 ratings_matrix가 행 기준이 영화가 되고 열 기준이 사용자가 돼야 함.
ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head(3)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

# cosine_similarity()로 반환된 넘파이 행렬을 영화명을 매핑해 DataFrame으로 변환
item_sim_df = pd.DataFrame(data=item_sim, index=ratings_matrix.columns, columns=ratings_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(9719, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.141653,0.0,...,0.0,0.342055,0.543305,0.707107,0.0,0.0,0.139431,0.327327,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,1.000000,0.707107,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Round Midnight (1986),0.0,0.707107,1.000000,0.0,0.0,0.0,0.176777,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0

In [33]:
item_sim_df['Godfather, The (1972)'].sort_values(ascending=False)[:6]

title
Godfather, The (1972)                        1.000000
Godfather: Part II, The (1974)               0.821773
Goodfellas (1990)                            0.664841
One Flew Over the Cuckoo's Nest (1975)       0.620536
Star Wars: Episode IV - A New Hope (1977)    0.595317
Fargo (1996)                                 0.588614
Name: Godfather, The (1972), dtype: float64

In [34]:
item_sim_df['Inception (2010)'].sort_values(ascending=False)[1:6]

title
Dark Knight, The (2008)          0.727263
Inglourious Basterds (2009)      0.646103
Shutter Island (2010)            0.617736
Dark Knight Rises, The (2012)    0.617504
Fight Club (1999)                0.615417
Name: Inception (2010), dtype: float64

In [39]:
# 아이템 기반 최근접 이웃 협업 필터링으로 개인화된 영화 추천
# 개인화된 영화 추천의 가장 큰 특징은 개인이 아직 관람하지 않은 영화를 추천함.
def predict_rating(ratings_arr, item_sim_arr):
    ratings_pred = ratings_arr.dot(item_sim_arr) / np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [40]:
ratings_pred = predict_rating(ratings_matrix.values, item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index,
                                  columns=ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.070345,0.577855,0.321696,0.227055,0.206958,0.194615,0.249883,0.102542,0.157084,0.178197,...,0.113608,0.181738,0.133962,0.128574,0.006179,0.212070,0.192921,0.136024,0.292955,0.720347
2,0.018260,0.042744,0.018861,0.000000,0.000000,0.035995,0.013413,0.002314,0.032213,0.014863,...,0.015640,0.020855,0.020119,0.015745,0.049983,0.014876,0.021616,0.024528,0.017563,0.000000
3,0.011884,0.030279,0.064437,0.003762,0.003749,0.002722,0.014625,0.002085,0.005666,0.006272,...,0.006923,0.011665,0.011800,0.012225,0.000000,0.008194,0.007017,0.009229,0.010420,0.084501

In [41]:
# 예측 결과가 실제 평점과 얼마나 차이가 있는지 확인 / 예측 평가 지표로는 MSE 적용
# 기존에 평점이 부여된 데이터에 대해서만 오차 정도를 측정
from sklearn.metrics import mean_squared_error

# 사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE를 구함.
def get_mse(pred, actual):
    # 평점이 있는 실제 영화만 추출
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

print('아이템 기반 모든 최근접 이웃 MSE :', get_mse(ratings_pred, ratings_matrix.values))

아이템 기반 모든 최근접 이웃 MSE : 9.895354759094706

In [42]:
# 앞의 predict_rating() 함수는 사용자별 영화의 예측 평점을 계산하기 위해 해당 영화와 다른 모든 영화 간의 유사도 벡터를 적용한 것임.
# 특정 영화와 가장 비슷한 유사도를 가지는 영화에 대해서만 유사도 벡터를 적용하는 함수로 변겅
def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
    # 사용자 - 아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬 초기화
    pred = np.zeros(ratings_arr.shape)
    
    # 사용자 - 아이템 평점 행렬의 열 크기만큼 루프 수행
    for col in range(ratings_arr.shape[1]):
        # 유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬의 인덱스 반환
        top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]]
        # 개인화된 예측 평점을 계산
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T)
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))
            
    return pred

In [43]:
ratings_pred = predict_rating_topsim(ratings_matrix.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 Top-20 이웃 MSE :', get_mse(ratings_pred, ratings_matrix.values))

# 계산된 예측 평점 데이터는 DataFrame으로 재생성
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index, columns=ratings_matrix.columns)

아이템 기반 최근접 Top-20 이웃 MSE : 3.695009387428144

In [44]:
# userId = 9 인 사용자에 대해 영화 추천
user_rating_id = ratings_matrix.loc[9, :]
user_rating_id[user_rating_id > 0].sort_values(ascending=False)[:10]

title
Adaptation (2002)                                                                 5.0
Austin Powers in Goldmember (2002)                                                5.0
Lord of the Rings: The Fellowship of the Ring, The (2001)                         5.0
Lord of the Rings: The Two Towers, The (2002)                                     5.0
Producers, The (1968)                                                             5.0
Citizen Kane (1941)                                                               5.0
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    5.0
Back to the Future (1985)                                                         5.0
Glengarry Glen Ross (1992)                                                        4.0
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)                                     4.0
Name: 9, dtype: float64

In [9]:
# 사용자가 이미 평점을 준 영화를 제외하고 추천할 수 있도록 평점을 주지 않은 영화를 리스트 객체로 반환하는 함수인 get_unseen_movies 생성
def get_unseen_movies(ratings_matrix, userId):
    # userId로 입력받은 사용자의 모든 영화 정보를 추출해 Series로 반환함.
    # 반환된 user_rating은 영화명(title)을 인덱스로 가지는 Series 객체임.
    user_rating = ratings_matrix.loc[userId, :]
    
    # user_rating이 0보다 크면 기존에 관람한 영화임. 대상 인덱스를 추출해 list 객체로 만듦.
    already_seen = user_rating[user_rating > 0].index.tolist()
    
    # 모든 영화명을 list 객체로 만듦.
    movies_list = ratings_matrix.columns.tolist()
    
    # list comprehension으로 already_seen에 해당하는 영화는 movies_list에서 제외함.
    unseen_list = [movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

In [12]:
def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
    # 예측 평점 DataFrame에서 사용자 id 인덱스와 unseen_list로 들어온 영화명 컬럼을 추출해 가장 예측 평점이 높은 순으로 정렬함.
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

# 사용자가 관람하지 않은 영화명 추출
unseen_list = get_unseen_movies(ratings_matrix, 9)

# 아이템 기반의 최근접 이웃 협업 필터링으로 영화 추천
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이터를 DataFrame으로 생성
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns=['pred_score'])

recomm_movies

         pred_score
movieId
1291       5.459654
2064       5.290213
7153       5.231366
1230       5.204406
63082      4.994479
1148       4.956023
1278       4.942915
1287       4.922988
246        4.911752
1954       4.901672

### 행렬 분해를 이용한 잠재 요인 협업 필터링 실습

In [2]:
# 행렬 분해 잠재 요인 협업 필터링은 SVD나 NMF 등을 적용할 수 있음.
# 널 데이터가 많기 때문에 주로 SGD나 ALS 기반의 행렬 분해를 이용함.
def matrix_factorization(R, K, steps=200, learning_rate=0.01, r_lambda=0.01):
    num_users, num_items = R.shape
    # P와 Q 매트릭스의 크기를 지정하고 정규 분포를 가진 랜덤한 값으로 입력합니다.
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size=(num_users, K))
    Q = np.random.normal(scale=1./K, size=(num_items, K))
    
    prev_rmse = 10000
    break_count = 0
    
    # R > 0 인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장
    non_zeros = [(i, j, R[i, j]) for i in range(num_users) for j in range(num_items) if R[i, j] > 0]
    
    # SGD 기법으로 P와 Q 매트릭스를 계속 업데이트.
    for step in range(steps):
        for i, j, r in non_zeros:
            # 실제 값과 예측 값의 차이인 오류 값 구함
            eij = r - np.dot(P[i, :], Q[j, :].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i, :] = P[i, :] + learning_rate * (eij * Q[j, :] - r_lambda * P[i, :])
            Q[j, :] = Q[j, :] + learning_rate * (eij * P[i, :] - r_lambda * Q[j, :])
        
        rmse = get_rmse(R, P, Q, non_zeros)
        if (step % 10) == 0:
            print('### iteration step :', step, 'rmse :', rmse)
            
    return P, Q

In [22]:
import pandas as pd
import numpy as np

movies = pd.read_csv('./ml-latest-small/movies.csv')
ratings = pd.read_csv('./ml-latest-small/ratings.csv')
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')

# title 칼럼을 얻기 위해 movies와 조인 수행
rating_movies = pd.merge(ratings, movies, on='movieId')
# columns='title'로 title 칼럼으로 pivot 수행
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns='title')

In [23]:
ratings_matrix

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [24]:
P, Q = matrix_factorization(ratings_matrix.values, K=50, steps=200, learning_rate=0.01, r_lambda=0.01)
pred_matrix = np.dot(P, Q.T)

### iteration step : 0 rmse : 2.9023619751336867
### iteration step : 10 rmse : 0.7335768591017927
### iteration step : 20 rmse : 0.5115539026853442
### iteration step : 30 rmse : 0.37261628282537446
### iteration step : 40 rmse : 0.2960818299181014
### iteration step : 50 rmse : 0.2520353192341642
### iteration step : 60 rmse : 0.22487503275269854
### iteration step : 70 rmse : 0.20685455302331537
### iteration step : 80 rmse : 0.19413418783028685
### iteration step : 90 rmse : 0.18470082002720403
### iteration step : 100 rmse : 0.17742927527209104
### iteration step : 110 rmse : 0.1716522696470749
### iteration step : 120 rmse : 0.1669518194687172
### iteration step : 130 rmse : 0.16305292191997542
### iteration step : 140 rmse : 0.15976691929679643
### iteration step : 150 rmse : 0.1569598699945732
### iteration step : 160 rmse : 0.15453398186715428
### iteration step : 170 rmse : 0.15241618551077643
### iteration step : 180 rmse : 0.15055080739628307
### iteration step : 190 rmse : 0.1488947091323209

In [25]:
ratings_pred_matrix = pd.DataFrame(data=pred_matrix, index=ratings_matrix.index, columns=ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.055084,4.092018,3.564130,4.502167,3.981215,1.271694,3.603274,2.333266,5.091749,3.972454,...,1.402608,4.208382,3.705957,2.720514,2.787331,3.475076,3.253458,2.161087,4.010495,0.859474
2,3.170119,3.657992,3.308707,4.166521,4.311890,1.275469,4.237972,1.900366,3.392859,3.647421,...,0.973811,3.528264,3.361532,2.672535,2.404456,4.232789,2.911602,1.634576,4.135735,0.725684
3,2.307073,1.658853,1.443538,2.208859,2.229486,0.780760,1.997043,0.924908,2.970700,2.551446,...,0.520354,1.709494,2.281596,1.782833,1.635173,1.323276,2.887580,1.042618,2.293890,0.396941

In [26]:
# 사용자가 관람하지 않은 영화명 추출
unseen_list = get_unseen_movies(rating_matrix, 9)

# 잠재 요인 협업 필터링으로 영화 추천
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이터를 DataFrame으로 생성.
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns=['pred_score'])
recomm_movies

                                                    pred_score
title
Rear Window (1954)                                    5.704612
South Park: Bigger, Longer and Uncut (1999)           5.451100
Rounders (1998)                                       5.298393
Blade Runner (1982)                                   5.244951
Roger & Me (1989)                                     5.191962
Gattaca (1997)                                        5.183179
Ben-Hur (1959)                                        5.130463
Rosencrantz and Guildenstern Are Dead (1990)          5.087375
Big Lebowski, The (1998)                              5.038690
Star Wars: Episode V - The Empire Strikes Back ...    4.989601

### 파이썬 추천 시스템 패키지 - Surprise

In [4]:
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split

In [2]:
data = Dataset.load_builtin('ml-100k')
# 수행 시마다 동일하게 데이터를 분할하기 위해 random_state 값 부여
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

In [3]:
algo = SVD()
algo.fit(trainset)

In [4]:
predictions = algo.test(testset)
print('prediction type :', type(predictions), 'size :', len(predictions))
print('prediction 결과의 최초 5개 추출')
predictions[:5]

prediction type : <class 'list'> size : 25000
prediction 결과의 최초 5개 추출

[Prediction(uid='120', iid='282', r_ui=4.0, est=3.367758735800782, details={'was_impossible': False}),
 Prediction(uid='882', iid='291', r_ui=4.0, est=3.7303124633535614, details={'was_impossible': False}),
 Prediction(uid='535', iid='507', r_ui=5.0, est=4.119868105500752, details={'was_impossible': False}),
 Prediction(uid='697', iid='244', r_ui=5.0, est=3.665876426035291, details={'was_impossible': False}),
 Prediction(uid='751', iid='385', r_ui=4.0, est=3.306578470202003, details={'was_impossible': False})]

In [5]:
[(pred.uid, pred.iid, pred.est) for pred in predictions[:3]]

[('120', '282', 3.367758735800782),
 ('882', '291', 3.7303124633535614),
 ('535', '507', 4.119868105500752)]

In [6]:
# 사용자 아이디, 아이템 아이디는 문자열로 입력해야 함
uid = str(196)
iid = str(302)
pred = algo.predict(uid, iid)
print(pred)

user: 196        item: 302        r_ui = None   est = 4.04   {'was_impossible': False}

In [7]:
# predict()는 개별 사용자와 아이템 정보를 입력하면 추천 예측 평점을 est로 반환함.
# test() 메서드는 입력 데이터 세트의 모든 사용자와 아이템 아이디에 대해서 predict()를 반복적으로 수행한 결과라고 생각하면 이해 쉬움.
accuracy.rmse(predictions)

RMSE: 0.9471

0.947083513298859

In [1]:
### Surprise 주요 모델 소개
# Dataset.load_builtin(name='ml-100k') : 무비렌즈 데이터 내려 받음
# Dataset.load_from_file(file_path, reader) : OS 파일에서 데이터를 로딩할 때 사용
# Dataset.load_from_df(df, reader) : 판다스의 DataFrame에서 데이터 로드

In [2]:
# OS 파일 데이터를 Surprise 데이터 세트로 로딩
import pandas as pd

ratings = pd.read_csv('./ml-latest-small/ratings.csv')
# ratings_noh.csv 파일로 언로드 시 인덱스와 헤더를 모두 제거한 새로운 파일 생성
ratings.to_csv('./ml-latest-small/ratings_noh.csv', index=False, header=False)

In [5]:
# Dataset.load_from_file()을 적용하기 전에 Reader 클래스를 이용해 데이터 파일의 파싱 포매슬 정의해야 함.
# 지금 로딩하려는 rating_noh.csv는 칼럼 헤더가 없고, 4개의 칼럼이 콤마로만 분리돼 있음.
# 이 4개의 칼럼이 사용자 아이디, 아이템 아이디, 평점, 타임스탬프임을 로딩할 때 알려줘야 함.
from surprise import Reader

reader = Reader(line_format='user item rating timestamp', sep=',', rating_scale=(0.5, 5))
data = Dataset.load_from_file('./ml-latest-small/ratings_noh.csv', reader=reader)

In [6]:
# Surprise 데이터 세트는 기본적으로 무비렌즈 데이터 형식을 따르므로 무비렌즈 데이터 형식이 아닌 다른 OS 파일의 경우 Reader 클래스를 먼저 
# 설정해야함.
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

# 수행 시마다 동일한 결과를 도출하기 위해 random_state를 설정
algo = SVD(n_factors=50, random_state=0)

# 학습 데이터 세트로 학습하고 나서 테스트 데이터 세트로 평점 예측 후 RMSE 평가
algo.fit(trainset)
predictions = algo.test(testset)
accuracy.rmse(predictions)

RMSE: 0.8682

0.8681952927143516

In [7]:
# 판다스 DataFrame에서 Surprise 데이터 세트로 로딩
# DataFrmae 역시 사용자 아이디, 아이템 아이디, 평점 칼럼 순서를 지켜야 함
import pandas as pd
from surprise import Reader, Dataset

ratings = pd.read_csv('./ml-latest-small/ratings.csv')
reader = Reader(rating_scale=(0.5, 5.0))

# ratings DataFrame에서 칼럼은 사용자 아이디, 아이템 아이디, 평점 순서를 지켜야 함.
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

algo = SVD(n_factors=50, random_state=0)
algo.fit(trainset)
predictions = algo.test(testset)
accuracy.rmse(predictions)

RMSE: 0.8682

0.8681952927143516

In [9]:
### Surprise 추천 알고리즘 클래스
# SVD : 행렬 분해를 통한 잠재 요인 협업 필터링을 위한 SVD 알고리즘
# KNNBasic : 최근접 이웃 협업 필터링을 위한 KNN 알고리즘
# BaselineOnly : 사용자 Bias와 아이템 Bias를 감안한 SGD 베이스라인 알고리즘.
### 베이스라인 평점 : 전체 평균 평점 + 사용자 편향 점수 + 아이템 편향 점수
# 교차 검증과 하이퍼 파라미터 튜닝
from surprise.model_selection import cross_validate

# 판다스 DataFrame에서 Surprise 데이터 세트로 데이터 로딩
ratings = pd.read_csv('./ml-latest-small/ratings.csv')   # reading data in pandas df
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

algo = SVD(random_state=0)
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8762  0.8713  0.8713  0.8756  0.8715  0.8732  0.0022
MAE (testset)     0.6715  0.6701  0.6702  0.6727  0.6722  0.6713  0.0010
Fit time          3.51    3.52    3.53    3.53    3.53    3.53    0.01
Test time         0.17    0.08    0.17    0.11    0.16    0.14    0.04

{'test_rmse': array([0.87616296, 0.87134917, 0.87126435, 0.87556268, 0.87154186]),
 'test_mae': array([0.67154192, 0.67010022, 0.67018249, 0.67270658, 0.67216831]),
 'fit_time': (3.5111210346221924,
  3.5243523120880127,
  3.5267837047576904,
  3.5333211421966553,
  3.5327861309051514),
 'test_time': (0.17305278778076172,
  0.07811117172241211,
  0.17099332809448242,
  0.10938906669616699,
  0.15618300437927246)}

In [10]:
from surprise.model_selection import GridSearchCV

# 최적화할 파라미터를 딕셔너리 형태로 지정.
param_grid = {'n_epochs':[20, 40, 60],
             'n_factors':[50, 100, 200]}

# CV를 3개 폴드 세트로 지정. 성능 평가는 rmse, mae로 수행하도록 GridSearchCV 구성
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)
gs.fit(data)

# 최고 RMSE Evaluation 점수와 그 때의 하이퍼 파라미터
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

0.8773427721740955
{'n_epochs': 20, 'n_factors': 50}

In [11]:
### Surprise를 이용한 개인화 영화 추천 시스템 구축

In [13]:
# 다음 코드는 train_test_split()으로 분리되지 않는 데이터 세트에 fit()을 호출해 오류가 발생함
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
algo = SVD(n_factors=50, random_state=0)
algo.fit(data)

AttributeError: 'DatasetAutoFolds' object has no attribute 'global_mean'

In [14]:
# 데이터 세트 전체를 학습 데이터로 사용하려면 DatasetAutoFolds 클래스를 이용하면 됨.
from surprise.dataset import DatasetAutoFolds

reader = Reader(line_format='user item rating timestamp', sep=',', rating_scale=(0.5, 5))
# DatasetAutoFolds 클래스를 ratings_noh.csv 파일 기반으로 생성
data_folds = DatasetAutoFolds(ratings_file='./ml-latest-small/ratings_noh.csv', reader=reader)

# 전체 데이터를 학습 데이터로 생성함.
trainset = data_folds.build_full_trainset()

In [15]:
algo = SVD(n_epochs=20, n_factors=50, random_state=0)
algo.fit(trainset)

In [18]:
# 영화에 대한 상세 속성 정보 DataFrame 로딩
movies = pd.read_csv('./ml-latest-small/movies.csv')

# userId=9의 movieId 데이터를 추출해 movieId=42인 데이터가 있는지 확인.
movieIds = ratings[ratings['userId']==9]['movieId']

if movieIds[movieIds==42].count() == 0:
    print('사용자 아이디 9는 영화 아이디 42의 평점 없음')
    
print(movies[movies['movieId']==42])

사용자 아이디 9는 영화 아이디 42의 평점 없음
    movieId                   title              genres
38       42  Dead Presidents (1995)  Action|Crime|Drama

In [19]:
# movidid 42인 영화에서 userid 9 사용자의 추천 예상 평점은 predict() 메서드를 이용하면 알 수 있음.
# 학습된 SVD 객체에서 predict() 메서드 내에 userId와 movieId 값을 입력해주면 됨.
# 이 값은 모두 문자열 값이어야 함.
uid = str(9)
iid = str(42)

pred = algo.predict(uid, iid, verbose=True)

user: 9          item: 42         r_ui = None   est = 3.13   {'was_impossible': False}

In [20]:
def get_unseen_surprise(ratings, movies, userId):
    # 입력값으로 들어온 userId에 해당하는 사용자가 평점을 매긴 모든 영화를 리스트로 생성
    seen_movies = ratings[ratings['userId'] == userId]['movieId'].tolist()
    
    # 모든 영화의 movieId를 리스트로 생성
    total_movies = movies['movieId'].tolist()
    
    # 모든 영화의 movieId 중 이미 평점을 매긴 영화의 movieId를 제외한 후 리스트로 생성
    unseen_movies = [movie for movie in total_movies if movie not in seen_movies]
    print('평점 매긴 영화 수:', len(seen_movies), '추천 대상 영화 수:', len(unseen_movies),
         '전체 영화 수:', len(total_movies))
    
    return unseen_movies

unseen_movies = get_unseen_surprise(ratings, movies, 9)

평점 매긴 영화 수: 46 추천 대상 영화 수: 9696 전체 영화 수: 9742

In [21]:
def recomm_movie_by_surprise(algo, userId, unseen_movies, top_n=10):
    
    # 알고리즘 객체의 predict() 메서드를 평점이 없는 영화에 반복 수행한 후 결과를 list 객체로 저장.
    predictions = [algo.predict(str(userId), str(movieId)) for movieId in unseen_movies]
    
    # predictions list 객체는 surprise의 Predictions 객체를 원소로 가지고 있음.
    # [prediction(uid='9', iid='1', est=3.69), Prediction(uid='9', iid='2', est=2.98),,,,]
    
    # 이를 est 값으로 정렬하기 위해서 아래의 sortkey_est 함수를 정의함.
    # sortkey_est 함수는 list 객체의 sort() 함수의 키 값으로 사용되어 정렬 수행.
    def sortkey_est(pred):
        return pred.est
    
    # sortkey_est() 반환값의 내림 차순으로 정렬 수행하고 top_n 개의 최상위 값 추출
    predictions.sort(key=sortkey_est, reverse=True)
    top_predictions = predictions[:top_n]
    
    # top_n으로 추출된 영화의 정보 추출. 영화 아이디, 추천 예상 평점, 제목 추출
    top_movie_ids = [int(pred.iid) for pred in top_predictions]
    top_movie_rating = [pred.est for pred in top_predictions]
    top_movie_titles = movies[movies.movieId.isin(top_movie_ids)]['title']
    
    top_movie_preds = [(id, title, rating) for id, title, rating in
                      zip(top_movie_ids, top_movie_titles, top_movie_rating)]
    
    return top_movie_preds

unseen_movies = get_unseen_surprise(ratings, movies, 9)
top_movie_preds = recomm_movie_by_surprise(algo, 9, unseen_movies, top_n=10)

print('##### Top-10 추천 영화 리스트 #####')
for top_movie in top_movie_preds:
    print(top_movie[1], ':', top_movie[2])

평점 매긴 영화 수: 46 추천 대상 영화 수: 9696 전체 영화 수: 9742
##### Top-10 추천 영화 리스트 #####
Usual Suspects, The (1995) : 4.306302135700814
Star Wars: Episode IV - A New Hope (1977) : 4.281663842987387
Pulp Fiction (1994) : 4.278152632122759
Silence of the Lambs, The (1991) : 4.226073566460876
Godfather, The (1972) : 4.1918097904381995
Streetcar Named Desire, A (1951) : 4.154746591122658
Star Wars: Episode V - The Empire Strikes Back (1980) : 4.122016128534504
Star Wars: Episode VI - Return of the Jedi (1983) : 4.108009609093436
Goodfellas (1990) : 4.083464936588478
Glory (1989) : 4.07887165526957