In [1]:
###########################
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [2]:
###########################
# 데이터를 준비합니다. 
(독립, 종속), _ = tf.keras.datasets.cifar10.load_data()
종속 = pd.get_dummies(종속.reshape(50000))
print(독립.shape, 종속.shape)

(50000, 32, 32, 3) (50000, 10)

In [3]:
###########################
# 모델을 완성합니다. 
X = tf.keras.layers.Input(shape=[32, 32, 3])
 
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Conv2D(16, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Flatten()(H)

H = tf.keras.layers.Dense(120)(H)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)

H = tf.keras.layers.Dense(84)(H)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)

Y = tf.keras.layers.Dense(10, activation='softmax')(H)
 
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [5]:
###########################
# 모델을 학습하고
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1563/1563 [==============================] - 16s 10ms/step - loss: 0.7995 - accuracy: 0.7193
Epoch 2/10
1563/1563 [==============================] - 17s 11ms/step - loss: 0.7744 - accuracy: 0.7294
Epoch 3/10
1563/1563 [==============================] - 16s 10ms/step - loss: 0.7566 - accuracy: 0.7361
Epoch 4/10
1563/1563 [==============================] - 15s 10ms/step - loss: 0.7331 - accuracy: 0.7417
Epoch 5/10
1563/1563 [==============================] - 15s 10ms/step - loss: 0.7231 - accuracy: 0.7456
Epoch 6/10
1563/1563 [==============================] - 15s 10ms/step - loss: 0.7043 - accuracy: 0.7524
Epoch 7/10
1563/1563 [==============================] - 15s 10ms/step - loss: 0.6914 - accuracy: 0.7560
Epoch 8/10
1563/1563 [==============================] - 15s 10ms/step - loss: 0.6768 - accuracy: 0.7624
Epoch 9/10
1563/1563 [==============================] - 15s 10ms/step - loss: 0.6620 - accuracy: 0.7684
Epoch 10/10
1563/1563 [==============================] - 15s 10ms/step - loss: 0.6536 - accuracy: 0.7694

In [5]:
###########################
# 모델을 이용합니다. 
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

      0     1     2     3     4     5     6     7     8     9
0  0.04  0.03  0.18  0.21  0.03  0.19  0.18  0.07  0.03  0.05
1  0.01  0.30  0.00  0.00  0.00  0.00  0.00  0.00  0.53  0.17
2  0.82  0.03  0.01  0.01  0.00  0.00  0.00  0.00  0.05  0.08
3  0.01  0.01  0.05  0.08  0.11  0.06  0.58  0.04  0.00  0.07
4  0.02  0.79  0.00  0.00  0.00  0.00  0.00  0.00  0.04  0.14

In [6]:
# 정답 확인
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  1  0  0  0
1  0  0  0  0  0  0  0  0  0  1
2  0  0  0  0  0  0  0  0  0  1
3  0  0  0  0  1  0  0  0  0  0
4  0  1  0  0  0  0  0  0  0  0

In [7]:
# 모델 확인
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 32, 32, 3)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 28, 28, 6)         456
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 14, 14, 6)         0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 10, 10, 16)        2416
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 5, 5, 16)          0
_________________________________________________________________
flatten (Flatten)            (None, 400)               0
_________________________________________________________________
dense (Dense)                (None, 120)               48120
_________________________________________________________________
dense_1 (Dense)              (None, 84)                10164
_________________________________________________________________
dense_2 (Dense)              (None, 10)                850
=================================================================
Total params: 62,006
Trainable params: 62,006
Non-trainable params: 0
_________________________________________________________________