## 데이터 불러오기

In [1]:
import pandas as pd
df = pd.read_excel('imdb.xlsx', index_col=0)

In [2]:
df.head()

                                              review  sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

## TF-IDF

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
tfidf = TfidfVectorizer(max_features=500, stop_words='english')

In [5]:
tdm = tfidf.fit_transform(df['review'])

In [10]:
word_count = pd.DataFrame({
    '단어' : tfidf.get_feature_names(),
    'tf-idf' : tdm.sum(axis=0).flat
})

In [12]:
word_count.sort_values('tf-idf', ascending=False).head()

        단어     tf-idf
284  movie  44.917213
153   film  40.356390
33     bad  25.258572
225   just  20.296871
178   good  18.604656

## 기존의 TDM에서 변환하기

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
cv = CountVectorizer(max_features=500, stop_words='english')

In [15]:
tdm2 = cv.fit_transform(df['review'])

In [16]:
from sklearn.feature_extraction.text import TfidfTransformer

In [17]:
trans = TfidfTransformer()

In [18]:
tdm3 = trans.fit_transform(tdm2)

## 비교

In [20]:
import numpy as np

In [21]:
np.allclose(tdm.A, tdm3.A)

True