## 데이터 열기

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('../imdb.xlsx', index_col=0)

In [4]:
df.head()

                                              review  sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [5]:
df.shape

(748, 2)

## TDM 만들기

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
cv = CountVectorizer(max_features=500, stop_words='english')

In [11]:
tdm = cv.fit_transform(df['review'])

In [12]:
tdm

<748x500 sparse matrix of type '<class 'numpy.int64'>'
	with 3434 stored elements in Compressed Sparse Row format>

In [13]:
3434 / (748*500)

0.009181818181818182

## 단어목록

In [15]:
cv.get_feature_names()[:10]

['10',
 '20',
 '90',
 'absolutely',
 'acted',
 'acting',
 'action',
 'actor',
 'actors',
 'actress']

## 단어별 총빈도

In [16]:
tdm.sum()

3894

In [17]:
tdm.sum(axis=0)

matrix([[ 29,   3,   6,   9,   3,  43,   7,  10,  19,   3,   3,  10,   3,
           4,   3,   4,   9,   3,   3,   3,   6,   3,   4,   3,  13,   4,
           3,   5,   3,   8,   5,   3,  14,  71,   4,  11,   4,   6,   8,
          25,  18,  10,   5,  10,   4,   3,   4,  10,   3,   3,   6,   7,
           3,   4,  10,   5,   3,  18,   6,   8,  24,  35,   4,   3,   7,
           3,   4,   5,   8,  10,   6,   5,   5,   7,   4,   3,   3,   5,
           3,   3,   4,   4,   7,   4,   5,   3,   4,   6,   4,   3,   5,
           4,   3,   5,   4,   3,   9,   3,   4,   3,  13,  11,  22,   5,
           3,   9,   5,  12,   6,   3,   9,  12,  26,   4,  10,   3,   3,
           3,   3,   4,   4,   3,   6,   3,   9,  11,  11,   4,   5,   3,
           9,   4,   6,   3,   8,   3,   3,  16,   4,   7,   4,   4,   5,
           8,   5,   7,   5,   7,   5,   3,   3,  10,   5, 163,  24,   3,
           3,   5,   6,   4,   5,  19,   3,   9,   3,   7,   5,   3,   4,
           3,   6,   3,   7,   3,   6,   4,   4,  10,  58,   8,   3,   3,
          41,   3,   5,   6,   3,   3,   4,   3,   6,   3,   3,  10,   6,
           3,   6,   6,   6,   4,   6,   9,   5,   4,   3,   4,   6,   3,
           4,   4,   3,   3,   6,   3,   3,   4,   4,   4,  12,   5,   4,
           9,   7,   3,   5,  63,   8,   8,   3,  14,   6,   5,   3,   5,
           3,   3,   5,   4,  12,  48,  10,  12,   7,   3,  17,   4,   7,
           3,   8,  19,   4,   3,   3,   4,   9,   3,  22,  10,   4,   5,
           3,  22,   8,   6,  13,   3,   3,   4,   3,   4,   4,   3,   4,
           6,   3,   5,   8,   4,   5,   4,   8,   3,   3,   6, 182,  29,
           4,  14,   3,   3,   5,   6,   5,   5,   3,   3,   3,   4,   5,
           8,   4,   3,   5,   3,   5,   4,   5,  14,   6,  12,   6,   5,
           4,  10,   4,   4,   9,  10,   7,  28,   4,   6,   6,   3,   3,
          10,   4,   3,   4,  13,   8,   4,   3,   5,   3,   3,   3,   3,
          10,   3,   3,   3,   3,   4,   4,  21,  41,  13,   6,   3,   3,
           3,   6,   4,   5,  13,   4,   4,   3,   5,  12,  13,   3,   4,
          14,  19,   3,  14,   3,  24,   3,   6,   7,  23,   7,   3,   8,
           3,   3,   4,  11,   5,   5,  10,   5,   6,   4,   5,   4,   4,
           6,   4,   3,   3,   3,   9,   3,   3,   3,   3,   4,   3,   5,
           3,   4,  28,   4,   5,   3,  14,   6,   3,   7,   7,   8,   3,
           5,   3,   3,   8,   4,   3,   5,   4,  12,   5,   4,   3,  13,
          12,  21,   3,   3,  12,   5,   3,  43,   5,   4,   3,   5,   4,
          15,   3,   4,   3,   4,   9,   4,   4,   3,   8,   3,   4,   3,
           9,   4,   4,   6,   8,   4,   4,   3,  13,   4,   6,   3,   7,
          14,   7,  17,   3,   9,  22,  23,   8,   3,   3,   3,   3,   5,
          18,   3,   5,  20,   5,   6,  11,  11,  13,   3,   3,   3,  13,
           7,   3,   5,  14,   3,   4]], dtype=int64)

In [18]:
word_count = pd.DataFrame({
        '단어' : cv.get_feature_names(),
        '빈도' : tdm.sum(axis=0).flat        
})

In [21]:
word_count.sort_values('빈도', ascending=False)

            단어   빈도
284      movie  182
153       film  163
33         bad   71
225       just   63
178       good   58
..         ...  ...
375      sense    3
377  seriously    3
378        set    3
173      given    3
396      spent    3

[500 rows x 2 columns]

In [22]:
word_count.to_csv('word_count.csv')